<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/common.js"></script>
    <script>
        document.write("<script src='"+alifont+"'><\/script>");
    </script>
    <link rel="stylesheet" media="screen" href="plugins/element.css" />
    <link rel="stylesheet" media="screen" href="css/base.css" />
    <link rel="stylesheet" media="screen" href="css/index.css" />
</head>
<body>
    <div id="load">
        <div class="overlay">
            <i>
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-jiazaizhong"></use>
                </svg>
            </i>
            <span>加载中，请稍等片刻</span>
        </div>
    </div>
    <div id="app">
        <header :class="isCollapse?'small-w':'big-w'">
            <el-row>
                <el-col class="left" :span="12">
                    <i class="el-icon-menu" @click="isCollapse=!isCollapse"></i>
                    <span>伊塔全生命周期科技设施与能源管理系统</span>
                </el-col>
                <el-col class="right" :span="6" :offset="6">
                    <img src="img/user.jpg" alt="">
                    <span>管理员</span>
                </el-col>
            </el-row>
        </header>
        <aside :class="isCollapse?'small':'big'">
            <el-menu :default-active="type"
             class="el-menu-vertical-demo"
              :collapse="isCollapse"
              background-color="#424d58"
              text-color="#fff"
              active-text-color="#ffd04b">
                <el-menu-item index="5">
                    <img src="img/logo.png" alt="">
                </el-menu-item>
                <el-menu-item index="6" style="padding:0">
                    <img src="img/user.jpg" alt="">
                    <p slot="title">
                        <span>当前用户：管理员</span><br>
                        <span>时间：{{nowTime}}</span>
                    </p>
                </el-menu-item>
                <a href="index.html"><el-menu-item index="1">
                    <i>
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-shouye1"></use>
                        </svg>
                    </i>
                    <span slot="title">首页</span>
                </el-menu-item></a>
                <el-submenu index="2">
                    <template slot="title">
                        <i>
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-xinnengyuan"></use>
                            </svg>
                        </i>
                        <span slot="title">能源运营</span>
                    </template>
                    <el-menu-item-group>
                        <a href="energyOperation.html#freezing"><el-menu-item index="2-1">制冷系统</el-menu-item></a>
                        <a href="energyOperation.html#boiler"><el-menu-item index="2-2">供热系统</el-menu-item></a>
                        <a href="energyOperation.html#board"><el-menu-item index="2-3">板换机组</el-menu-item></a>
                        <a href="energyOperation.html#freshAir"><el-menu-item index="2-4">新风机组</el-menu-item></a>
                    </el-menu-item-group>
                </el-submenu>
                <el-submenu index="3">
                    <template slot="title">
                        <i>
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-nengyuanguanli"></use>
                            </svg>
                        </i>
                        <span slot="title">能源管理</span>
                    </template> 
                    <el-menu-item-group>
                        <a href="monitoring.html"><el-menu-item index="3-1">在线监测</el-menu-item></a>
                        <a href="dataCenter.html"><el-menu-item index="3-2">数据中心</el-menu-item></a>
                        <a href="analysis.html"><el-menu-item index="3-3">节能分析</el-menu-item></a>
                    </el-menu-item-group>
                </el-submenu>
                </el-menu-item></a>
                <a href="facilities.html"><el-menu-item index="5">
                    <i>
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-navicon-kctz"></use>
                        </svg>
                    </i>
                    <span slot="title">设备台账</span>
                </el-menu-item></a>
            </el-menu>
        </aside>
        <main :class="isCollapse?'small-w':'big-w'">
            <section class="content-header">
                <iframe allowtransparency="true" frameborder="0" width="220" height="98" scrolling="no" src="//tianqi.2345.com/plugin/widget/index.htm?s=2&z=1&t=1&v=0&d=1&bd=0&k=&f=ffffff&ltf=009944&htf=cc0000&q=1&e=0&a=0&c=58362&w=255&h=98&align=center"></iframe>               
                <div class="chart">
                    <div id="forecast"></div>
                    <div id="temChart"></div>
                </div>
                <a href="warning.html" v-if="warning"><div class="sy_jinggao"></div></a>
            </section>
            <section class="content">
                <div class="machine freezing" :class="ldj.ld_warn?'box-shadow-y':'box-shadow-b'">
                    <a href="energyOperation.html#freezing">
                    <h3>
                        <i v-if="ldj.ld_auto" title="自动">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-ruanqidong"></use>
                            </svg>
                        </i>
                        <i v-else="ldj.ld_auto" title="手动">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-guanbi"></use>
                            </svg>
                        </i>
                        制冷系统
                        <span :title="ldj.ld_start ? '启动中' : '暂停中'" :class="[ldj.ld_start ? 'green' : 'red']"></span>
                    </h3>
                    <p><span title="本小时冷需求量">EHCC：{{ldj.ld_EHCC}}kw·h</span></p>
                    <p><span title="下一小时冷需求量">FEA：{{ldj.ld_FEA}}kw·h</span></p>
                    <p><span title="冷冻机组的效率">COP：{{ldj.ld_COP}}</span></p>
                    <p><span title="实时能耗">实时能耗：{{ldj.ld_RTEC}}kw·h</span></p>
                    <p><span title="能源运行工况">能源运行工况：停机</span></p>
                    </a>
                </div>
                <div class="machine boiler" :class="glj.gl_warn?'box-shadow-y':'box-shadow-b'">
                    <a href="energyOperation.html#boiler">
                    <h3>
                        <i v-if="ldj.ld_auto" title="自动">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-ruanqidong"></use>
                            </svg>
                        </i>
                        <i v-else="ldj.ld_auto" title="手动">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-guanbi"></use>
                            </svg>
                        </i>
                        供热系统
                        <span :title="glj.gl_start ? '启动中' : '暂停中'" :class="[glj.gl_start ? 'green' : 'red']"></span>
                    </h3>
                    <p><span title="每小时热需求量">EHHC：{{glj.gl_EHHC}}T/h</span></p>
                    <p><span title="未来能耗的需求预测">FEA：{{glj.gl_FEA}}kw·h</span></p>
                    <p><span title="锅炉机组的效率">COP：{{glj.gl_COP}}</span></p>
                    <p><span title="实时能耗">实时能耗：{{glj.gl_RETC}}kw·h</span></p>
                    <p><span title="能源运行工况">能源运行工况：停机</span></p>
                    </a>
                </div>
                <div class="machine freshAir" :class="xfj.xf_warn?'box-shadow-y':'box-shadow-b'">
                    <a href="energyOperation.html#freshAir">
                    <h3>
                        <i title="自动">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-ruanqidong"></use>
                            </svg>
                        </i>
                        <!-- <i v-else="ldj.ld_auto" title="手动">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-guanbi"></use>
                            </svg>
                        </i> -->
                        新风机组
                        <span title="启动中" class="green"></span>
                    </h3>
                    <p><span title="运行数量">运行数量：2{{xfj.xf_runNum}}台</span></p>
                    </a>
                </div>
                <div class="bottom">
                    <span>总供水温度：24 ℃</span>
                    <span>总回水温度：23.7 ℃</span>
                    <span>总供水压力：1.1 Mpa</span>
                    <span>总回水压力：0.3 Mpa</span>
                    <span>总流量：0 m³/h</span>
                    <!-- <div class="bottom-icon">
                        <i @click="tem()">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-baobiao2"></use>
                            </svg>
                        </i><br>
                        <span>温度曲线</span>
                    </div>
                    <div class="bottom-icon">
                        <i @click="report()">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-baobiao"></use>
                            </svg>
                        </i><br>
                        <span>运行报表</span>
                    </div> -->
                </div>
                <div class="warning-box" v-if="warning" onclick="location.href='warning.html'">
                    <p>警告框</p>
                    <div class="warning">
                        <ul :style="{ marginTop: warnTop + 'px' }">
                            <li v-for="(item,index) in warningContent" :class="item.type">{{item.content}}</li>
                        </ul>
                    </div>
                </div>
            </section>
            <div class="mask" v-show="mask">
                <div class="mask-content">
                    <p class="title">{{caseBox.title}}<i class="fa fa-close close" @click="mask=false"></i></p>
                    <ul>
                    <li v-for="(item,index) in caseBox.content" v-text="item"></li>
                    </ul>
                </div>
            </div>
        </main>
    </div>
    <script src="plugins/vue.js"></script>
    <script src="plugins/element.js"></script>
    <script src="plugins/axios.min.js"></script>
    <script src="plugins/echarts.min.js"></script>
    <script src="http://tianqi.2345.com/t/wea_hour_js/58362.js"></script>
    <script>
        var wea_h_hour;
        document.write("<script src='js/index.js?time="+new Date().getTime()+"'><\/script>");
    </script>
</body>
</html>